:root {
  --navbar-height: 4rem;
  --footer-height: 2rem;

  --selected-program-pattern: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAG0lEQVQYV2P8/////4MHDzIwHjhw4L+9vT0DAHAFCj6esq3FAAAAAElFTkSuQmCC");

  /* --lt-red: #ff7272;
  --sft-blue: #88bbe4;
  --lt-grey: #ccc;
  --dk-grey: #32363d;
  --md-grey: #838282;
  --lt-yel: #f8ca31;
  --dk-yel: #a58a33; */
  --icon: none;
  --white: #fdffff;
  --lt-grey: #c3c3c3;
  --dk-grey: #818181;
  --blue: #010081;
  --turq: #008080;
  --pink: #ff0081;
}

/* @font-face {
  font-family: lexend;
  src: url(/Lexend_Deca/LexendDeca-VariableFont_wght.ttf);
} */

@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url("fonts/converted/ms_sans_serif.woff") format("woff");
  src: url("fonts/converted/ms_sans_serif.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FixedSys";
  src: url("/FSEX302.ttf") format("truetype");
}

@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url("fonts/converted/ms_sans_serif_bold.woff") format("woff");
  src: url("fonts/converted/ms_sans_serif_bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Verdana";
  src: url("https://fonts.googleapis.com/css2?family=Verdana&display=swap");
  /* You can also host the font files locally and provide the path instead of using a URL */
}

body {
  font-family: Arial;
  font-size: 12px;
  color: var(--text-color);
}

.font-old {
  font-family: "Pixelated MS Sans Serif", Arial;
}

html {
  height: 100%;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100dvh;
  margin: 0;
  padding: 0;
  background-color: var(--turq);
  background-image: url("/NEAL.png"); /* Replace 'your-image-url.jpg' with your image URL */
  background-size: auto;
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  /* overflow: hidden; */
}

img {
  image-rendering: pixelated;
}
* {
  box-sizing: border-box;
  /* font-family: "lexend", "Tahoma", sans-serif; */
  font-family: "Pixelated MS Sans Serif", Arial;
}
#root-wrapper {
  height: 100%;
  height: calc(100vh - var(--footer-height));
}
.navbar {
  background-color: var(--blue);
  color: var(--white);
  width: 100%;
  padding: 0.5em;
  height: var(--navbar-height);
}

.icon-name {
  font-family: "MS Sans Serif", "Segoe UI", sans-serif;
  width: 100%;
  padding: 2px 0;
  /* font-size: 9pt; */
  text-align: center;
}
.window-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.pe-none {
  pointer-events: none;
}

.pe-none,
.interact-none {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */

  /* Disable dragging */
  -webkit-user-drag: none; /* Safari */
  -khtml-user-drag: none; /* Konqueror */
  -moz-user-drag: none; /* Firefox */
  -o-user-drag: none; /* Opera */
}

.notepad-area {
  width: 100%;
  resize: none;
  font-family: "FixedSys", monospace;
  /* font-weight: 600; */
  font-size: 12pt;
}

.projects-view,
.about-view {
  height: 100%;
}
.left-pane-title {
  font-size: 16pt;
  font-weight: 600;
  margin: 0.5em 0 0.25em 0;
}
.verdana {
  font-family: "Verdana", sans-serif;
}

.left-pane-body {
  margin: 1.5em 1.5em 0 1.5em;
}
.left-pane-body > div {
  font-size: 9pt;
  font-weight: 500;
}
.folder-left-pane {
  width: 30%;
  height: 95%;
  background: url("https://98.js.org/src/WEB//wvleft.bmp") no-repeat white;
}
.window-body-container {
  width: 100%;
  height: 100%;
  border: solid 1px var(--white);
  border-top-color: #000;
  border-left-color: #000;
}
.window-body-inner-border {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
  border: solid 1px var(--dk-grey);
  border-bottom-color: var(--lt-grey);
  border-right-color: var(--lt-grey);
}
.fullscreen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.my-pc-win-footer {
  display: flex;
  width: 20%;
  margin-left: 2px;
}
.window-footer {
  display: flex;
  padding: 0 8px 3px 8px;
  font-size: 11pt;
  width: 100%;
}

.d-flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.window-footer > div {
  border: solid 1px var(--dk-grey);
  border-bottom-color: var(--white);
  border-right-color: var(--white);
  padding: 3px;
}
.selected-icon > div > .icon-name {
  background-color: var(--blue);
  border: dotted 1px white;
}
.selected-icon > div > .image-selected {
  display: unset;
}

.desktop-icon {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  color: var(--white);
  width: 80px;
  min-height: 93px;
}
.desktop-icon > img {
  width: 48px;
  height: 48px;
  margin-bottom: 1em;
}
.image-selected {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: calc((80px - 48px) / 2);
  background: var(--blue);
  opacity: 0.5;
  mask-repeat: no-repeat;
  mask-size: 48px;
}
.drag-select {
  position: absolute;
}
.taskbar {
  position: relative;
  display: flex;
  background-color: var(--lt-grey);
  height: var(--footer-height);
  color: var(--lt-blue);
  padding: 3px;
  width: 100%;
  box-shadow: 0 -1px 0 0 var(--white),
    /* First border */ 0 -3px 0 0 var(--lt-grey); /* Second border */
  z-index: 10;
}

.taskbar-divider {
  width: 2px;
  height: 100%;
  margin: 0 0.25em;
  background: var(--dk-grey);
  border-right: solid 1px var(--white);
}
.start-btn {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0%;
  min-width: unset;
  width: 6em;
}
.tb-clock {
  display: flex;
  align-items: center;
  padding: 2px;

  border-top: solid 1px var(--dk-grey);
  border-left: solid 1px var(--dk-grey);
  border-right: solid 1px var(--white);
  border-bottom: solid 1px var(--white);
}
.dragging {
  cursor: grabbing; /* or cursor: move; */
}
.desktop {
  position: relative;
  width: 100%;
  min-height: calc(100vh - var(--footer-height));
  /* padding: 10px; */
  /* display: flex; */
}
.bg-image {
  position: absolute;
}

.logo {
  font-size: 2em;
  color: var(--white);

  text-shadow: -2px 1px 0 #88bbe4, 0 2px 0 #88bbe4c4, 0 3px 0 #88bbe47e,
    0 4px 0 #88bbe441, 0 5px 0 #88bbe42d;
}

.clickable {
  cursor: pointer;
}

.fg-1 {
  flex-grow: 1;
}
.start-menu.visible {
  bottom: 0;
  transform: translateY(0);
}
.hidden {
  opacity: 0;
  pointer-events: none;
}
.start-menu {
  /* height: 50em; */
  position: absolute;

  bottom: 0;
  left: 0;
  z-index: 1;
  border: solid 2px var(--lt-grey);
  border-bottom-color: #000;
  border-right-color: #000;
  transform: translateY(100%);
  transition: transform 0.25s linear;
}
.start-menu-container {
  position: absolute;
  bottom: calc(var(--footer-height));
  left: 0;
  width: 30%;
  height: 30em;
  overflow: hidden; /* Hide overflow */
}

.start-menu-mask {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
}
.start-menu-divider {
  width: 98%;
  height: 2px;
  margin: 0 1%;
  background: var(--dk-grey);
  border-bottom: solid 1px var(--white);
}

.start-menu > div {
  /* width: 100%; */
  display: flex;
  height: 100%;
  background-color: var(--lt-grey);
  border: solid 2px var(--white);
  border-bottom-color: var(--dk-grey);
  border-right-color: var(--dk-grey);
  padding: 3px;
}
.start-menu-left {
  display: flex;
  align-items: end;
  background-color: #0000aa;
  /* height: 100%; */
  flex-grow: 1;
}
.start-menu-left > img {
  width: 30px;
}
.start-menu-icon-container {
  width: 250px;
}
.start-menu-icon {
  display: flex;

  align-items: center;
  padding: 10px;
  color: var(--white);
  width: 160px;
  min-height: 50px;
}
.start-menu-icon > img {
  width: 28px;
  height: 28px;
}
.start-menu-icon > .icon-name {
  text-align: start;
  margin-left: 10.5px;
  font-family: "Pixelated MS Sans Serif", Arial;
}

.tb-program {
  border: solid 1px black;
  border-bottom-color: var(--white);
  border-right-color: var(--white);
}
.tb-program > div {
  min-width: 200px;
  padding: 2px;
  display: flex;
  align-items: center;
  font-weight: 600;
  height: 100%;
  border: solid 1px var(--dk-grey);
  border-bottom-color: var(--lt-grey);
  border-right-color: var(--lt-grey);
  background: var(--selected-program-pattern) repeat;
}
.tb-program > div > img {
  margin-right: 5px;
}
.ai-start {
  align-items: start;
}
@media only screen and (max-width: 900px) {
  body {
    background-size: 20em;
  }
  .folder-left-pane {
    width: 40%;
  }
  .my-pc-win-footer {
    width: unset;
  }
  .start-menu-container {
    width: 100%;
  }
}
